__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.env
mini_tokenizer_old/
tests/
docs/

# Virtual environments
.venv

# VsCode settings
.vscode/

# Pretrain data
data/pretrain_data/*
!data/pretrain_data/put_pretrain_data_here

# Tokenizer data
data/tokenizer_data/*
!data/tokenizer_data/put_tokenizer_data_here
!data/tokenizer_data/chat_template.jinja2

# SFT data
data/sft_data/*
!data/sft_data/put_sft_data_here
!data/sft_data/jsonl/self_cognition.jsonl
!data/sft_data/sft_length_distribution.png

# DPO data
data/dpo_data/*
!data/dpo_data/put_dpo_data_here

# GRPO data
data/grpo_data/*
!data/grpo_data/put_grpo_data_here

# output
output/

# api
.api_keys/

# scripts
scripts/push_to_main.ps1

# architecture_lab frontend
architecture_lab/frontend/node_modules/

# architecture_lab runtime data
architecture_lab/data/
